@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-helvetica: 'Helvetica', Arial, sans-serif;
  --foreground-rgb: #212123;
  --page-background: rgb(249,249,249);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-helvetica);
  color: rgb(var(--foreground-rgb));
  background: var(--page-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center
  }
  .flex-between {
    @apply flex items-center justify-between
  }
  .flex-start {
    @apply flex items-center justify-start
  }
  .flex-end {
    @apply flex items-center justify-end
  }
}
